{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.2.0/fabric.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script> -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
      MathJax = {
        options: {
          enableMenu: false
        }
      }
    </script>
    <script src="https://unpkg.com/mathlive/dist/mathlive.min.js"></script>
    <script type="text/x-template" id="math-live-template">
      <select>
        <slot></slot>
      </select>
    </script>
    <script src="{% static 'hybrid_app/asciimath-to-latex.js' %}"></script>
    <script src="{% static 'hybrid_app/cookies.js' %}"></script>
    <title></title>
  </head>
  <body>
    <nav>
      <p>
        <a href="{% url 'hybrid_app:document_list_view' %}">Documents</a>
        <a href="{% url 'hybrid_app:student_list_list_view' %}">Student lists</a>
        <a href="{% url 'hybrid_app:teacher_list_view' %}">Teachers</a>
      </p>
      <hr>
    </nav>
    {% block content %}{% endblock %}

  </body>
</html>
