<!DOCTYPE html>

<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.2.0/fabric.min.js"></script>
</head>

<body>

<canvas id="canvas"></canvas>

<button onClick="togglePan()">Pan</button>

<script>
  // const canvas = new fabric.Canvas("canvas", {
  //   width: 500,
  //   height: 500,
  // });
  //
  // canvas.renderAll();

  const initCanvas = (id) => {
    return new fabric.Canvas(id, {
      width: 500,
      height: 500,
      backgroundColor: 'lightsteelblue',
      selection: false,
    });
  }

  const togglePan = () => {
    if (currentMode === modes.pan) {
      currentMode = '';
    } else {
      currentMode = modes.pan;
    }
  }

  const canvas = initCanvas('canvas');

  let mousePressed = false;

  let currentMode;
  const modes = {
    pan: 'pan'
  }

  var rectangle = new fabric.Rect({
    width: 200,
    height: 100,
    left: 100,
    top: 100,
    fill: 'steelblue',
  });

  canvas.add(rectangle);

  canvas.on('mouse:move', (event) => {
    if (mousePressed && currentMode === modes.pan) {
      const mEvent = event.e;
      const delta = new fabric.Point(mEvent.movementX, mEvent.movementY)
      canvas.relativePan(delta);
      canvas.setCursor('grab')
      canvas.renderAll()
    }
  })

  canvas.on('mouse:down', (event) => {
    mousePressed = true;
  })

  canvas.on('mouse:up', (event) => {
    mousePressed = false;
  })
</script>

</body>

</html>
