<!DOCTYPE html>

<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.2.0/fabric.min.js"></script>
</head>

<body>

<canvas id="canvas"></canvas>

<button onClick="toggleMode(modes.drawing)">Drawing</button>

<script>

  const initCanvas = (id) => {
    return new fabric.Canvas(id, {
      width: 500,
      height: 500,
      backgroundColor: 'lightsteelblue',
    });
  }

  const toggleMode = (mode) => {
    if (mode === modes.drawing) {
      if (currentMode === modes.drawing) {
        currentMode = '';
        canvas.isDrawingMode = false;
        canvas.renderAll();
        canvas.selection = true;
      } else {
        currentMode = modes.drawing;
        canvas.isDrawingMode = true;
        canvas.renderAll();
      }
    }
  }

  const canvas = initCanvas('canvas');

  let mousePressed = false;

  let currentMode;
  const modes = {
    pan: 'pan',
    drawing: 'drawing'
  }

</script>

</body>

</html>
