{% extends "hybrid_app/base.html" %}

{% block content %}
  <div id="app">
    <div id="tools">
      <block-form @block-added="onAddBlock"></block-form>
    </div>
    <hr />
    <div id="blocks">
      <block-item
        v-for="item in blocks"
        v-bind:block="item"
        v-bind:key="item.id"
      >
      </block-item>
    </div>
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          blocks: null
        }
      },
      mounted() {
        axios
          .get('../api/block-list/' + {{ pk }})
          .then(response => {
            this.blocks = response.data
          })
      },
      methods: {
        onAddBlock(block) {
            // this.blocks.push(block)
            console.log(block)
            axios
              .post('../api/blocks/',
            {
              // body: this.block
              type: block.type
            },
            {
              headers: {
                // 'X-CSRFToken' : document.cookie['csrftoken']
                'X-CSRFToken' : "hdP9Al38HWwo9oTG1vjo3fFifgjmEI8aMuu7RRuzcrikeZSX1830rAboxLVZ0LEf"
              }
            }
          )
            .then(function (response) {
              console.log(response);
            })
        }
      }
    })

    app.component('block-item', {
      delimiters: ["[[", "]]"],
      props: ['block'],
      template: '<p>[[ block.type ]]</p>'
    })

    app.component('block-form', {
      delimiters: ["[[", "]]"],
      template:
      `<form class="block-form" @submit.prevent="onSubmit">
        <h3>Add block</h3>
        <label for="type">Type</label>
        <select id="type" v-model="type">
          <option>Graph</option>
          <option>Equation</option>
          <option>Text</option>
          <option>Image</option>
        </select>
        <input class="button" type="submit" value="Add">
      </form>`,
      data() {
        return {
          type: ''
        }
      },
      methods: {
        onSubmit() {
          let newBlock = {
            type: this.type
          }
          this.$emit('block-added', newBlock)
          this.type = ''
        }
      }
    })

    app.mount('#app')
  </script>

{% endblock %}
