<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title></title>
  </head>
  <body>

    <div id="app">
      <block-item
        v-for="item in blocks"
        v-bind:block="item"
        v-bind:key="item.id"
      >
      </block-item>
    </div>

    <script>
      const Blocks = {
        delimiters: ["[[", "]]"],
        data() {
          return {
            blocks: [
              { id: 1, type: 'Graph' },
              { id: 2, type: 'Equation' },
            ]
          }
        }
      }

      const app = Vue.createApp(Blocks)

      app.component('block-item', {
        delimiters: ["[[", "]]"],
        props: ['block'],
        template: '<p>[[ block.type ]]</p>'
      })

      app.mount('#app')
    </script>

  </body>
</html>
