<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title></title>
  </head>
  <body>

    <div id="app">
      <section v-if="errored">
        <p>Error retrieving data</p>
      </section>
      <section v-else>
        <div v-if="loading">Loading...</div>
        <p v-for="block in blocks">
          [[ block.type ]]
        </p>
        <!-- <block-item
          v-for="item in blocks"
          v-bind:block="item"
          v-bind:key="item.id"
        >
        </block-item> -->
      </section>
    </div>

    <script>
      const Blocks = {
        delimiters: ["[[", "]]"],
        el: '#app',
        data () {
          return {
            blocks: null,
            loading: true,
            errored: false
          }
        },
        mounted () {
          axios
            .get('../api/block-list/' + {{ pk }})
            .then(response => (
              this.blocks = response.data
          ))
          .catch(error => {
            console.log(error)
            this.errored = true
          })
          .finally(() => this.loading = false)
        }
      }

      const app = Vue.createApp(Blocks)

      // app.component('block-item', {
      //   props: ['block'],
      //   template: '<p>[[ block.type ]]</p>'
      // })

      app.mount('#app')
    </script>

  </body>
</html>
