<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="results"></div>
    <script>
      fetch('/api/documents/2/', {
        method: 'DELETE',
        headers: {
          'X-CSRFToken' : document.cookie['csrftoken']
        }
      });
      fetch('/api/documents/').then((resp) => {
        resp.json().then((data) => {
          resultsDiv = document.getElementById('results')
          for (r of data) {
            resultsDiv.append(r.name + ' ')
          }
        })
      });
    </script>
  </body>
</html>
