{% extends "hybrid_app/extends/front.html" %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="container my-5">
    <div class="row">
      <div class="col">
        {% if user.is_authenticated %}
          <p><a href="{% url 'hybrid_app:document_list_view' %}">Go to dashboard</a></p>
        {% else %}
          <p>Welcome to MathBean.</p>
          <p><a href="{% url 'account_login' %}">Log in</a> or <a href="{% url 'account_signup' %}">Sign up</a> to continue.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
