{% extends "hybrid_app/base.html" %}

{% block content %}

<div id="tools">
  <a href="{% url 'hybrid_app:create_student_list_view' %}">New student list</a>
  <a href="{% url 'hybrid_app:student_list_view' %}">Students</a>
  <hr />
  <a href="{% url 'hybrid_app:create_student_view' %}">New student</a>
</div>
<hr />
<div id="students">
  {% for student in students %}
    <p><a href="{% url 'hybrid_app:update_student_view' pk=student.pk %}">{{ student.email }}</a> &middot; {{ student.created_at }}</p>
  {% endfor %}
</div>

{% endblock %}
