{% extends "hybrid_app/extends/dashboard.html" %}

{% block title %}Student Lists{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div id="tools">
  <a href="{% url 'hybrid_app:student_list_list_view' %}">Student lists</a>
  <a href="{% url 'hybrid_app:student_list_view' %}">Students</a>
  <hr />
  <a href="{% url 'hybrid_app:student_list_create_view' %}">New student list</a>
</div>
<hr />
<div id="student-lists">
  {% for student_list in student_lists %}
    <p><a href="{% url 'hybrid_app:student_list_update_view' pk=student_list.pk %}">{{ student_list.name }}</a> &middot; {{ student_list.created_at }}</p>
  {% endfor %}
</div>

{% endblock %}
